    
h1{
    text-align: center;
    font-family: sans-serif;
    bottom: auto;
    justify-content: center;
    margin-top: 20%;
   font-size: 100px;
}
.search-container{
    margin-left: 42.5%;
    margin-right: 42.5%;
    padding: 1rem;
    width: fit-content;
    
}

.search-container input{
    width:max-content ;
    display: inline-block;

}

.search-container button{
    display: block;
    margin: 0 auto;
    text-transform: uppercase;

}

body{
    background-image:url("../img/latest.png");
    background-color: bisque;
    background-repeat: space;
}