main{
    margin: 3cm;
    padding: 1cm;
    background-color: aqua;
    border-radius: 1cm;
}

.center {
    text-align: center;
}

table, th, td {
    border:1px solid black;
}
body {
    background-color:#57a0d1;
    background-image: url(../img/pugs.jpg);
    background-size: cover;
    
}

p {
    font-size: large;
}

h1 {
    color:#091068;
    font-size: 300%
}

h2 {
    color:#181d63;
}

div a span:hover {
    color: rgba(147, 190, 224, 0.884);
}

.k{
    text-align: right;
    flex: 1;
    font-size: x-large;
    box-sizing: border-box;
    text-transform: uppercase;
    margin: 0px 50px 0px 50px;
}

body div.k li{
    display: inline-block;
    list-style: none;
}

.SGE{
    box-sizing: border-box;
    text-decoration: none;
}

.blby_horny_sidebar{
    margin-left: 30px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: aqua;
    border:2px solid rgb(0, 0, 0); ;
}
